ul li {
  list-style: none;
}

::-webkit-scrollbar {
  width: 4px;

  background-color: #4b4949;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ffffff;
}
.filter__button {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #ffffff;
  border-radius: 60px;
  padding: 6px 20px;

  position: relative;
  display: inline-block;
}

.dropdwn_active {
  border-color: #ad61ff;
  color: #ad61ff;
}

.filter__button:not(:last-child) {
  margin-right: 10px;
}

.filter__dropdown_content {
  position: absolute;
  background-color: #313131;

  min-width: 248px;
  margin-left: 0px;
  margin-top: 6px;
  border-radius: 12px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

  z-index: 1;
}

.srcollabale_menu {
  overflow-y: scroll;
  height: 357px;
  width: 248px;
  background-color: #313131;
  border: 30px solid #313131;
  border-radius: 12px;
}

.filter__dropdown_content .filter__dropdown_item {
  color: #ffffff;
  font-size: 20px;
  padding: 10px 0px;
  margin: 0;
  text-decoration: none;
  margin-bottom: 14px;
  display: block;
}

.filter__dropdown_content .filter__dropdown_item:hover {
  color: #ad61ff;
  text-decoration: underline;
}

.btn_text:hover {
  border-color: #d9b6ff;
  color: #d9b6ff;
  cursor: pointer;
}
