@import '../../variables.css';

.nav__menu {
  display: block;
  visibility: visible;
}

.menu__list {
  padding: 18px 0 10px 0;
  display: none;
}

.menu__item {
  padding: 5px 0;
  margin-bottom: 16px;
  text-decoration: none;
  color: var(--a-color);
}

.menu__list.active {
  display: block;
}

.menu__link {
  color: var(--a-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
